<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mentors menu</title>
    <link rel="shortcut icon" href="../../resoruces/icon.png">
    <meta name="description" content="Quest Store with matrix theme">
    <link rel="stylesheet" href="../../Public/css/awardsCards.css">
    <link rel="stylesheet" href="../../Public/css/logoutButton.css">
    <link rel="stylesheet" href="../../Public/css/menuBar.css">
    <link rel="stylesheet" href="../../Public/css/headline.css">

    <link rel="stylesheet" href="../../Public/css/backgroundGif.css">
    <link rel="stylesheet" href="../../Public/css/mentorTable.css">

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' defer></script>
    <script src="../../Public/js/script2.js" defer></script>
    <script src="../../Public/js/mentorTableScript.js" defer></script>

</head>

<body>
    <canvas id="c"></canvas>

    <div class="logoutbutton">
        <a href="../login.html"><img src="../../resoruces/logoutbutton.png"></img></a>
    </div>

    <div class="headlineMainLogo">
        <img src="../../resoruces/headline/mainHeadline.png">
    </div>

    <div id="navigation" class="menubar">
        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a href="mentorOptions.html">Mentors menu</a></li>
            <li><a href="#" onclick="notYetReady()">Class menu</a></li>
            <li><a href="#" onclick="notYetReady()">Module menu</a></li>
            <li><a href="#" onclick="notYetReady()">Profile</a></li>
        </ul>
    </div>

    <div class="headlineLogo">
        <img src="../../resoruces/headline/mentorstable2.png"></img>
    </div>>
    <div class="container"></div>
</body>

</html>