<!DOCTYPE html>
<html>
<head>
  <title>Are you Ready!</title>
  <link rel="stylesheet" href="../Public/css/intro-style.css">
  <link rel="stylesheet" href="../Public/css/text-cursor.css">
</head>

<body>
  <p id="line1" class="hidden">Your mission, is finish Codecool module 3 course:</p>
  <p id="line2" class="hidden">Use your JavaScript coding knowledge.</p>
  <p id="line3" class="hidden">Finish this challenge!</p>
  <p id="line4" class="hidden">This is your last chance. After this, there is no turning back.</p>
  <p id="line5" class="hidden">You take the blue pill the story ends, you wake up in your bed and believe whatever you want to believe.</p> 
  <p id="line6" class="hidden">You take the red pill you stay in Wonderland, and I show you how deep the rabbit hole goes.</p>
 <p id="line7" class="hidden">Remember: all I'm offering is the truth. Nothing more!</p>

  <p id="cursor-line" class="visible">&gt;&gt; <span class="typed-cursor">&#9608;</span></p>

  <script type="text/javascript" src="../Public/js/typing.js"></script>

</body>
</html>
