<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="shortcut icon" href="../resoruces/icon.png">
    <!-- <link rel="shortcut icon" href="../resoruces/background/icon2.jpg"> -->
    <meta name="description" content="Quest Store with matrix theme">
    <link rel="stylesheet" href="../Public/css/backgroundGif.css">
    <link rel="stylesheet" href="../Public/css/login.css">
    <link rel="stylesheet" href="../Public/css/menuBar.css">
</head>
<style>
    audio {
        position: absolute;
        top: 195px;
        left: 60px;
        background-color: black;
    }
</style>

<body>
    <audio id="player">
        <source src="../Sounds/m.mp3" type="audio/mp3">
    </audio>

    <canvas id="c"></canvas>

    <div id="navigation" class="menubar">
        <ul>
            <li><a href="login.html">Login Page</a></li>
            <li><a href="admin/admin.html">Admin</a></li>
            <li><a href="mentor/mentor.html">Mentor</a></li>
            <li><a href="student/homepage.html">Student</a></li>
        </ul>
    </div>

    <div class="login-box">
        <h2>LOGIN</h2>
        <form action="">
            <div class="user-box">
                <input type="text" name="" required="">
                <label>USERNAME</label>
            </div>
            <div class="user-box">
                <input type="password">
                <label for="">PASSWORD</label>
            </div>
            <a href="#" onclick="alertMessage()">
            <!-- <a href=""> -->
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                ENTER THE MATRIX
            </a>
        </form>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../Public/js/loginScript.js"></script>
</body>
</html>


<!-- <div id="navigation" class="menubar">
            <ul>
               <li><a href="homepage.html">Home</a></li>
               <li><a href="polandStats.html">?????</a></li>
               <li><a href="reliablePeople.html">????</a></li>
               <li><a href="mutations.html">????</a></li>
               <li><a href="worldData.html">???????</a></li>
               <li><a href="worldLiveInfos.html">?????</a></li>
               <li><a href="spreadsheets.html">????</a></li>
               <li><a href="hospitality.html">????</a></li>
               <li><a href="deathsInfos.html">???</a></li>
               <li><a href="toRead.html">???????</a></li>
            </ul>
        </div> -->

<!--         loginPage

        <p>
            <i class="fas fa-pizza-slice"></i>
            PizzaWorld
        </p>
        <div class="message hide">
            our message
        </div>
        <div class="message coctails hide">
            our coctails
        </div>
        <form>
            <input placeholder="email">
            <input placeholder="password">
            <button type="button" onclick="showMessage()"><i class="fas fa-pizza-slice"></i> submit</button>
        </form>
        <button onclick="showCoctails()"><i class="fas fa-cocktail"></i> contails</button>
        <button onclick="showStudents()"><i class="fas fa-cocktail"></i> students</button>


        <div id="footerContact">
            <ul>
            <li><footer class="footer">Footer</footer></li>
            <li><footer class="footer">matrixQuestStore project</footer></li> 
            <li><a class="contactButton" href="contact.html">Contact</a></li>
            </ul>
        </div>   
        </body> -->

