<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link rel="stylesheet" type="text/css" href="../Public/css/login.css">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../Public/js/script.js"></script>
    </head>
    <body>
        loginPage
        <canvas id="c"></canvas>
        <p>
            <i class="fas fa-pizza-slice"></i>
            PizzaWorld
        </p>
        <div class="message hide">
            our message
        </div>
        <div class="message coctails hide">
            our coctails
        </div>
        <form>
            <input placeholder="email">
            <input placeholder="password">
            <button type="button" onclick="showMessage()"><i class="fas fa-pizza-slice"></i> submit</button>
        </form>
        <button onclick="showCoctails()"><i class="fas fa-cocktail"></i> contails</button>
        <button onclick="showStudents()"><i class="fas fa-cocktail"></i> students</button>
        </body>
</html>