<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quests</title>
    <meta name="description" content="Quest Store with matrix theme">
    <link rel="stylesheet" href="../Public/css/cards.css">
    <link rel="stylesheet" href="../Public/css/menuBar.css">
    <link rel="stylesheet" href="../Public/css/backgroundGif.css">
    <link rel="stylesheet" href="../Public/css/headline.css">
    <link rel="stylesheet" href="../Public/css/profileStudent.css">
    <link rel="stylesheet" href="../Public/css/logoutButton.css">
</head>

<body>
    <canvas id="c"></canvas>
    <div class="logoutbutton">
        <img src="../resoruces/logoutbutton.png"></img>
    </div>
    <div class="container">

        <div class="headlineQuest">
            <img src="../resoruces/headline/mainHeadline.png">
        </div>

        <div id="navigation" class="menubar">
            <ul>
                <li><a href="login.html">Home</a></li>
                <li><a href="polandStats.html">?????</a></li>
                <li><a href="reliablePeople.html">????</a></li>
                <li><a href="mutations.html">????</a></li>
                <li><a href="worldData.html">???????</a></li>
                <li><a href="worldLiveInfos.html">?????</a></li>
            </ul>
        </div>

        <div class="headlineQuest">
            <img src="../resoruces/headline/quests.png">
        </div>

        <div class="cards">

            <div class="card">
                <div class="card-title">Dodge This!</div>
                <!-- <div class="card-image">
                    <img src="../resoruces/questLogo/dodgeThis.jpg">
                </div> -->
                <div class="card-image">
                    <img class="object-fit_cover" src="http://www.menucool.com/slider/jsImgSlider/images/image-slider-2.jpg">
                </div>
                <div class="card-description">Dodge 5x times morning question</div>
                <div class="card-pillPrice">5 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Telephone Booth Call!</div>
                <div class="card-image">
                    <img src="../resoruces/questLogo/telephoneBooth.png">
                </div>
                <div class="card-description">3x Times teleporting from telephone booth to headquarter</div>
                <div class="card-pillPrice">30 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Destroy bugs</div>
                <div class="card-image">
                    <img src="../resoruces/questLogo/bugs.jpg">
                </div>
                <div class="card-description">Find and fix 3 bugs in someone else's program</div>
                <div class="card-pillPrice">7 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Help friend in need</div>
                <div class="card-image">
                    <img src="../resoruces/questLogo/helpFriend.jpg">
                </div>
                <div class="card-description">Review your friend's code</div>
                <div class="card-pillPrice">6 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Defend humanity against Agent Smith</div>
                <div class="card-image">
                    <img src="../resoruces/questLogo/defendAgainstSmith.png">
                </div>
                <div class="card-description">Succesfully pass a checkpoint</div>
                <div class="card-pillPrice">15 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Avoid bullets</div>
                <div class="card-image">
                    <img src="../resoruces/questLogo/dodgeBullets.jpg">
                </div>
                <div class="card-description">Answer mentor's question correctly</div>
                <div class="card-pillPrice">4 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Be everywhere</div>
                <div class="card-image">
                    <img src="../resoruces/questLogo/appearences.png">
                </div>
                <div class="card-description">Attendance more than 80%</div>
                <div class="card-pillPrice">9 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Faster than ever</div>
                <div class="card-image">
                    <img src="../resoruces/questLogo/neoFly.png">
                </div>
                <div class="card-description">Sumbit project one day earlier</div>
                <div class="card-pillPrice">50 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Best trio</div>
                <div class="card-image">
                    <img src="../resoruces/questLogo/podium.jpg">
                </div>
                <div class="card-description">Stand on the podiun in Kahoot</div>
                <div class="card-pillPrice">12 p.</div>
            </div>
        </div>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../Public/js/script.js"></script>
</body>

</html>


<!-- <img src="https://crossweb.pl/job/wp-content/uploads/2016/06/codecool.png"> -->
<!-- <img src="../podium.jpg"> -->
<!-- <img src="https://speakertoanimals.files.wordpress.com/2011/09/matrix-reloaded-trio.jpg?w=648"> -->