<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link rel="stylesheet" type="text/css" href="../Public/css/login.css">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
        <script type="javascript" src="../Public/js/script.js" defer></script>
    </head>
    <body>
        <p>
            <i class="fas fa-pizza-slice"></i>
            <i class="fas fa-pizza-slice"></i>

            students
        </p>
        
    </body>
</html>