<!DOCTYPE html>
<html>
<head>
  <title>Student Site</title>
  <link rel="stylesheet" href="../Public/css/admin-style.css">

</head>
<body>
    <div id="container"

    <div id="topbar">
        <div id="topbarL" style="flex-grow:1;" >
           <img src="https://www.elleman.pl/uploads/media/default/0005/27/bedzie-matrix-4-keanu-reeves-ponownie-wcieli-sie-w-neo_1.jpeg" width="200" height="200" /> 
        
        <div id="topbarR" style="flex-grow:4;">
            LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. ILLUD NON CONTINUO, UT AEQUE INCONTENTAE. QUAM OB REM TANDEM, INQUIT, NON SATISFACIT? IN QUA QUID EST BONI PRAETER SUMMAM VOLUPTATEM, ET EAM SEMPITERNAM? NON ENIM, SI OMNIA NON SEQUEBATUR, IDCIRCO NON ERAT ORTUS ILLINC. SED HAEC QUIDEM LIBERIUS AB EO DICUNTUR ET SAEPIUS. DUO REGES: CONSTRUCTIO INTERRETE.   
        



            <div id="navigation" class="menubar">
                <ul>
                    <li><a href="login.html">Login Page</a></li>
                    <li><a href="admin.html">Check my Wallet</a></li>
                    <li><a href="mentor.html">Buy Awards</a></li>
                </ul>
            </div>
        
    </div>
</body>
