* {
    margin: 0; padding: 0;
}

body {
    font-size: 24px;
    background: black;
    font-family: 'Arial', sans-serif;
}

canvas {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

html{
    height: 100%;
}

form > input, button {
    border-radius: 0.7em;
    border: none;
    font-size: 1em;
    line-height: 2em;
    display: block;
    margin: 1em;
    padding: 0 1em;
}

form > input {
    border: 2px solid gray;
}

button {
    background: #555555;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFFFFF;
    margin: 1em;
    padding: 0 1em;
    width: 20em;            
}

button > i {
    margin-right: 1em;
}

p {
    padding: 1em;
}

.message {
    background-color: red;
    border-radius: 1em;
    color: white;
    padding: 1em;
    width: 20em;
    margin: 1em;
}

.coctails {
    background-color: green;
}

.hide {
    display: none;
}

@media screen and (max-device-width: 400px){
    body {
        font-size: 150px;
    }
}




.container {
    /* margin: 3em; */ 
   
}

.cards {
    margin: 3em;
    border-radius: 1em;

    /* display: flex;
    justify-content: center; */
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* flex-flow: row wrap;
    row-gap: 1em; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 1em;
    justify-items: center;
}

.card > img {
    width:100%;
}
.card {
    border: solid 2px #37A611;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 15em;
    width: 60%;
    /* overflow: scroll; */
    background: black;
    /* background: linear-gradient(180deg, #010501 51.56%, rgba(54, 65, 54, 0) 100%); */
    /* background-color: bisque; */
}

.card-title {
    color: white;
    border-radius: 1em 1em 0 0;
    line-height: 2em;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}

/* .card-content { */
    /* background-color: aquamarine; */
    /* width: 100%; */
    /* display: flex; */
/* } */

.card-details {
    /* background-color: bisque; */
    display: flex;
    justify-content: stretch;
    width: 100%;
}

.card-image {
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
}

.card-description {
    padding: 15px;
    width: 100%;
    display: flex;
    text-align: center;
    color: #37A611;
}

.card-pillPrice {

    padding: 15px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: right;
    color: #37A611;
}




@media screen and (max-width: 500px){
    body {
        font-size: 48px;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        margin: 0.5em;
    }
}


.add {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.logo {
    text-shadow: black;
    color: blanchedalmond;
    text-align: center;
}