body {
    font-size: 24px;
    /* background-image: url("../../resoruces/background/screenBackround.png"); */

    /* background-image: url("../../resoruces/background/screenBackround.png");
    background-repeat: no-repeat;
    background-attachment: scroll; */
    color: #37A611;
    background: black;
}

* {
    font-family: 'Arial', sans-serif;
}
/* 
form > input, button {
    border-radius: 0.7em;
    border: none;
    font-size: 1em;
    line-height: 2em;
    display: block;
    margin: 1em;
    padding: 0 1em;
}
form > input {
    border: 2px solid gray;
}
button {
    background: #555555;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFFFFF;
    margin: 1em;
    padding: 0 1em;
    width: 20em;            
}
button > i {
    margin-right: 1em;
}
p {
    padding: 1em;
}
.message {
    background-color: red;
    border-radius: 1em;
    color: white;
    padding: 1em;
    width: 20em;
    margin: 1em;
}
.coctails {
    background-color: green;
}
.hide {
    display: none;
}
@media screen and (max-device-width: 400px){
    body {
        font-size: 150px;
    }
} */




.container {
    /* margin: 3em; */
}

.cards {
    /* background-color: aliceblue; */
    border-radius: 1em;

    /* display: flex;
    justify-content: center; */
    /* flex-flow: row wrap;
    row-gap: 1em; */
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 1em;
}

.card {
    border: solid 2px #37A611;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    min-height: 15em;
    max-width: 50%;
    /* max-width: 12em; */
    /* width: 60%; */
    /* width: 100%; */
    /* overflow: scroll; */

    background: black;
    /* background: rgba(56, 102, 101, 1); */

    /* background: linear-gradient(180deg, #010501 51.56%, rgba(54, 65, 54, 0) 100%); */
    /* background-color: bisque; */
}

.card-title {
    /* background-color: aqua; */
    /* color: white; */
    margin-top: 0.2em;
    border-radius: .5em .5em .5em .5em;
    line-height: 2em;
    box-shadow: 0 0 5px #00FF41,
							 0 0 25px #00FF41,
							 0 0 50px #00FF41,
							 0 0 100px #00FF41;
}


.card-image {
    /* background: aqua; */
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
}

.cards img {
    max-width: 100%;
    height: auto;
    border-radius: .5em;
}

.card-description {
    width: 100%;
    /* background: red; */
    font-size: 0.8em;
    display: flex;
    text-align: center;
    /* margin-top: auto; */
}

.card-pillPrice {
    /* padding: 15px; */
    /* background: silver; */
    border-radius: 0 0 .5em .5em;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    /* display: flex;
    justify-content: flex-end; */

    /* align-items: center; */
}

.logoutbutton img {
    width: 50px;
}







/* .object-fit_cover {
    object-fit: cover;
}

.card-image {
    height: auto;
    text-align: center;
    padding: 15px;
    background: aqua;
    width: 300px;
}

img {
    max-width: 100%;
    height: auto;
}

.cards img {
    height: 300px;
    /* background-color: #444; 
} 

img[class] {
    width: 100%;
} */

















@media screen and (max-width: 500px){
    body {
        font-size: 48px;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        margin: 0.5em;
    }
}


.add {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.adbb img {
    width: 50px;

    position: fixed;
    right: 1em;
    bottom: 1em;
    /* width: 2em; */
    /* height: 2em; */
    /* border-radius: 1em; */
    /* background-color: black; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* color: white; */
}