body {
    font-size: 24px;
}


/* TO HAVE MATRIX GIF IN THE BACKGROUND, UNCOMMENT BELOW */
/* main, main2, main5 */
body{
    background-image: url('../../resoruces/background/main5.gif');
    background-size: cover;
    
    height: 100vh;
    padding:0;
    margin:0;
}

* {
    font-family: 'Fredoka One', cursive;
    color: white;
}

form > input, button {
    border-radius: 0.7em;
    border: none;
    font-size: 1em;
    line-height: 2em;
    display: block;
    margin: 1em;
    padding: 0 1em;
}

form > input {
    border: 2px solid gray;
}

button {
    background: #555555;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFFFFF;
    margin: 1em;
    padding: 0 1em;
    width: 20em;            
}

button > i {
    margin-right: 1em;
}

p {
    padding: 1em;
}

.message {
    background-color: red;
    border-radius: 1em;
    color: white;
    padding: 1em;
    width: 20em;
    margin: 1em;
}

.coctails {
    background-color: green;
}

.hide {
    display: none;
}

@media screen and (max-device-width: 400px){
    body {
        font-size: 150px;
    }
}

#navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px;
    margin-left: 40px;
    margin-right: 40px;
    list-style: none;
    background: #386665;
    border-radius: 10px;
}

#navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

#navigation li {
    display: inline-block;
    margin: 0 10px;
}

#navigation ul {
    font: bold 14px arial;
    text-transform: uppercase;
}

#navigation a:hover {
  background: #f77e05;
  box-shadow: inset 0 0 60px 1px rgba(0, 0, 0, .3);
}

#navigation li a {
    border-radius: 25px;
}


.footer {
    background: silver;
}

/* #headline {
    display: flex;
    justify-content: center;
    align-content: center;
} */

#footerContact {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 5px;
    margin-right: 30px;
    list-style: none;
    /* background: white; */
    border-radius: 10px;
}

#footerContact li {
    display: inline-block;
    margin: 0 10px;
}

#footerContact a {
    background: silver;
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}

#footerContact a:hover {
    background: #f77e05;
    box-shadow: inset 0 0 60px 1px rgba(0, 0, 0, .3);
}

#footerContact .footer {
    background: silver;
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}

/* ------------------------------------ */
/* body {background: black;}
canvas {display: block;} */

#footerContact li a {
    border-radius: 25px;
}

#footerContact li footer {
    border-radius: 25px;
}

