#bg{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
  /* background: #38a8d1;
  background: -moz-linear-gradient(top,  #38a8d1 0%, #34bc9a 36%, #34bc9a 57%, #8645f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38a8d1), color-stop(36%,#34bc9a), color-stop(57%,#34bc9a), color-stop(100%,#8645f7));
  background: -webkit-linear-gradient(top,  #38a8d1 0%,#34bc9a 36%,#34bc9a 57%,#8645f7 100%);
  background: -o-linear-gradient(top,  #38a8d1 0%,#34bc9a 36%,#34bc9a 57%,#8645f7 100%);
  background: -ms-linear-gradient(top,  #38a8d1 0%,#34bc9a 36%,#34bc9a 57%,#8645f7 100%);
  background: linear-gradient(to bottom,  #38a8d1 0%,#34bc9a 36%,#34bc9a 57%,#8645f7 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a8d1', endColorstr='#8645f7',GradientType=0 );
}
  
  section{
    position: relative;
    width: 640px;
    margin: 50px auto;
    /* padding: 2em; */
  }

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em;
}

  nav ul li{
    display:inline-block;
    list-style:none;
    width: 140px;
    text-align:center;
    font-family:Helvetica, sans-serif;
    border: 1px dashed rgba(255,255,255, 0);
    color:#fff;
    padding:10px 0 10px 0;
    margin:-1px -5px -1px -1px;
    cursor:pointer;
    transition:all .2s;
    -webkit-transition:all .2s;
  }
  nav ul li:hover{
    /*border:1px dashed #fff;*/
    background:rgba(255,255,255,.1);
  }
  nav ul{
    border: 1px solid #fff;
    position:absolute;
    width:100%;
    padding:0;
    z-index:100;
  }
  nav div{
    position:absolute;
    left:0;
    top:16px;
    /* background: #fff; */
    width:162px;
    height:40px;
    z-index:99;
  }
  nav div .active{
    color:rgba(55, 186, 177, 1);
  }






#navigation {
    border: solid 2px #37A611;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* margin: 5px; */
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    list-style: none;
    background: #386665;
    opacity: 0.3;
    border-radius: 10px;
}

#navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

#navigation li {
    display: inline-block;
    margin: 0 10px;
}

#navigation ul {
    font: bold 14px arial;
    text-transform: uppercase;
}

#navigation a:hover {
    /* background:rgba(255,255,255,.1); */

  /* background: #f77e05; */
  background: #37A611;
  box-shadow: inset 0 0 60px 1px rgba(0, 0, 0, .3);
}

#navigation li a {
    border-radius: 25px;
}
