.zui-table {
    width: 100%;
     
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 28px Arial, sans-serif;
    border-collapse: collapse;
    border-radius: 30px;
}


.zui-table thead th {
    background-color: #003b00;
    border: solid 1px #DDEEEE;
    color: #0d0208;
    padding: 10px;
    text-align: center;
    
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #0d0208;
    padding: 10px;
    background-image: linear-gradient(to bottom, #003b00, #008f11);
    text-align: center;
   
}