.zui-table {
    width: 80%;

    justify-content: center;
    flex-direction: row;
    border: solid 2px #DDEEEE;

    border-spacing: 0;
    font: normal 28px Arial, sans-serif;
    border-radius: 10px;
    margin: 0 auto;
}


.zui-table thead th {

    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #003b00;
    border: solid #0d0208 2px ;
    color: #0d0208;
    padding: 10px;
    text-align: center;

}
.zui-table tbody td {


    border: solid #0d0208 2px ;
    color: #0d0208;
    padding: 10px;
    border-radius: 10px;

    background-color: #386665;
    opacity: .8;
    text-align: center;

}

.zui-table tbody td:hover {
    background-color: #00ff41;
} 

.logoutbutton img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;

    width: 50px;
}

/* body {
    background-color: black;
} */

