<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Awards</title>
    <link rel="shortcut icon" href="../resoruces/icon.png">
    <meta name="description" content="Quest Store with matrix theme">
    <link rel="stylesheet" href="../../Public/css/awardsCards.css">
    <link rel="stylesheet" href="../../Public/css/logoutButton.css">
    <link rel="stylesheet" href="../../Public/css/menuBar.css">
    <link rel="stylesheet" href="../../Public/css/headline.css">

</head>

<body>
    <canvas id="c"></canvas>

    <div class="container">

        <div class="logoutbutton">
            <a href="../login.html"><img src="../../resoruces/logoutbutton.png"></img></a>
        </div>

        <div class="headlineMainLogo">
            <img src="../../resoruces/headline/mainHeadline.png">
        </div>

        <div id="navigation" class="menubar">
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="quests.html">Quests</a></li>
                <li><a href="awards.html">Awards</a></li>
                <li><a href="transactions.html">Transactions</a></li>
            </ul>
        </div>

        <div class="headlineLogo">
            <img src="../../resoruces/awardLogo/award-logo-single.png"></img>
        </div>>

        <div class="cards">

            <div class="card">
                <div class="card-title">Nokia software</div>
                <div class="card-image">
                    <img src="../../resoruces/awardLogo/nokianeo.png">
                </div>
                <div class="card-description">1h programming course on oldstyle Nokia</div>
                <div class="card-pillPrice">cost: 20 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Hackagov</div>
                <div class="card-image">
                    <img src="../../resoruces/awardLogo/hacking.jpg">
                </div>
                <div class="card-description">30 minutes of hacking Polish National Bank's website</div>
                <div class="card-pillPrice">cost: 30 p.</div>
            </div>

            <div class="card">
                <div class="card-title">I was blind now I see</div>
                <div class="card-image">
                    <img src="../../resoruces/awardLogo/blindsee.jpg">
                </div>
                <div class="card-description">1h workshop of reading binary numbers as real life images</div>
                <div class="card-pillPrice">cost: 50 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Martial-art workshop</div>
                <div class="card-image">
                    <img src="../../resoruces/awardLogo/morpheusCome.png">
                </div>
                <div class="card-description">1h of learning java-jitsu with mentor</div>
                <div class="card-pillPrice">cost: 60 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Mr Robot</div>
                <div class="card-image">
                    <img src="../../resoruces/awardLogo/01.png">
                </div>
                <div class="card-description">1h of programming the bot of your favorite mentor</div>
                <div class="card-pillPrice">cost: 70 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Plugged in</div>
                <div class="card-image">
                    <img src="../../resoruces/awardLogo/simulator.jpg">
                </div>
                <div class="card-description">1h of studying in simulator with friend</div>
                <div class="card-pillPrice">cost: 50 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Consult the oracle</div>
                <div class="card-image">
                    <img src="../../resoruces/awardLogo/oracle.jpg">
                </div>
                <div class="card-description">45 minutes of interview with the oracle from school office</div>
                <div class="card-pillPrice">cost: 40 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Holy trinity help</div>
                <div class="card-image">
                    <img src="../../resoruces/awardLogo/holy3.jpg">
                </div>
                <div class="card-description">Get help with your project for 1h from three mentors at the same time
                </div>
                <div class="card-pillPrice">cost: 100 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Eyewear of Matrix</div>
                <div class="card-image">
                    <img src="../../resoruces/awardLogo/sunglasses.jpg">
                </div>
                <div class="card-description">All mentors wear matrix sunglasses whole day</div>
                <div class="card-pillPrice">cost: 120 p.</div>
            </div>
        </div>
    </div>


    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../../Public/js/script2.js"></script>
</body>

</html>