<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quests</title>
    <meta name="description" content="Quest Store with matrix theme">
    <link rel="stylesheet" href="../../Public/css/cards.css">
    <link rel="stylesheet" href="../../Public/css/logoutButton.css">
    <link rel="stylesheet" href="../../Public/css/menuBar.css">
    <link rel="stylesheet" href="../../Public/css/backgroundGif.css">
    <link rel="stylesheet" href="../../Public/css/headline.css">
    <link rel="stylesheet" href="../../Public/css/logoutButton.css">
    <link rel="stylesheet" href="../../Public/css/homepage.css">

</head>

<body>
    <canvas id="c"></canvas>

    <div class="container">

        <div class="logoutbutton">
            <a href="../login.html"><img src="../../resoruces/logoutbutton.png"></img></a>
        </div>

        <div class="headlineMainLogo">
            <img src="../../resoruces/headline/mainHeadline.png">
        </div>

        <div id="navigation" class="menubar">
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="quests.html">Quests</a></li>
                <li><a href="awards.html">Awards</a></li>
                <li><a href="transactions.html">Transactions</a></li>
            </ul>
        </div>

        <div class="headlineLogo">
            <img src="../../resoruces/headline/studentHomepage.png">
        </div>

        <div class="neoInfo">
            <ul>
                <li>
                    <div class="headlineNeoFace">
                        <img src="../../resoruces/headline/neoFace.jpeg">
                    </div>
                </li>
                <li>
                    <div class="neoText">

                        Neo (born as Thomas A. Anderson, also known as The One, an anagram for Neo) is a fictional
                        character
                        and
                        the protagonist of the Matrix franchise. He was portrayed as a cybercriminal and computer
                        programmer
                        by
                        Keanu Reeves in The Matrix Trilogy, as well as having a cameo in The Animatrix short film Kid's
                        Story.
                        Andrew Bowen provided Neo's voice in The Matrix: Path of Neo. In 2008, Neo was selected by
                        Empire as
                        the
                        68th Greatest Movie Character of All Time. Neo is also an anagram of "one", a reference to his
                        destiny
                        of being The One who would bring peace.There are claims that a nightclub in Chicago inspired the
                        name of
                        the character in the Matrix.
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../../Public/js/script.js"></script>
</body>

</html>


<!-- <img src="https://crossweb.pl/job/wp-content/uploads/2016/06/codecool.png"> -->
<!-- <img src="../podium.jpg"> -->
<!-- <img src="https://speakertoanimals.files.wordpress.com/2011/09/matrix-reloaded-trio.jpg?w=648"> -->