<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quests</title>
    <meta name="description" content="Quest Store with matrix theme">
    <link rel="stylesheet" href="../../Public/css/cards.css">
    <link rel="stylesheet" href="../../Public/css/menuBar.css">
    <link rel="stylesheet" href="../../Public/css/backgroundGif.css">
    <link rel="stylesheet" href="../../Public/css/headline.css">
    <link rel="stylesheet" href="../../Public/css/profileStudent.css">

</head>
<!-- justToCommit -->
<body>
    <canvas id="c"></canvas>

    <div class="container">

        <div class="headlineQuest">
            <img src="../../resoruces/headline/mainHeadline.png">
        </div>

        <div id="navigation" class="menubar">
            <ul>
                <li><a href="login.html">Home</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="../quests.html">Quests</a></li>
                <li><a href="awards.html">Awards</a></li>
                <li><a href="tranasctions.html">Transactions</a></li>
                <!-- <li><a href="modules.html">Modules</a></li> -->
                <!-- <li><a href="mentors.html">Mentors</a></li> -->
            </ul>
        </div>


        <div class="headlineQuest">
            <img src="../../resoruces/headline/profile.png">
        </div>

        <div class="profileContent">
            <!-- <h1>profile</h1> -->
            <div class="profile">
                <div class="profile-left">
                    <!-- <img src="../../resoruces/studentLogo/exampleStudent.png" width="200" height="210"> -->
                    <img src="../../resoruces/studentLogo/exampleStudent.png">
                    <div class="toEditLink">
                        <h2><a href="#">Edit picture</a></h2>
                    </div>
                </div>
                <div class="profile-right">
                    <table style="width:100%">
                        <h2>personal information</h2>
                        <tr>
                            <td class="profile-setting">USERNAME:</td>
                            <td class="user-entry">neoTheOne</td>
                        </tr>
                        <tr>
                            <td class="profile-setting">NAME:</td>
                            <td class="user-entry">Thomas</td>
                        </tr>
                        <tr>
                            <td class="profile-setting">SURNAME:</td>
                            <td class="user-entry">Anderson</td>
                        </tr>
                        <tr>
                            <td class="profile-setting">BIRTH DATE:</td>
                            <td class="user-entry">13.09.2162</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <br>
                        <h2>contact</h2>
                        <tr>
                            <td class="profile-setting">PHONE NUMBER:</td>
                            <td class="user-entry">+48 789 456 123</td>
                        </tr>
                        <tr>
                            <td class="profile-setting">E-MAIL:</td>
                            <td class="user-entry">neo@zion.com</td>
                        </tr>
                        <tr>
                            <td class="profile-setting">GITHUB:</td>
                            <td class="user-entry">github.com/neo</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <br>
                        <h2>codecool</h2>
                        <tr>
                            <td class="profile-setting">MODULE:</td>
                            <td class="user-entry"><a href="#">html/css/js</a></td>
                        </tr>
                        <tr>
                            <td class="profile-setting">PERSONAL MENTOR:</td>
                            <td class="user-entry"><a href="#">Morpheus</a></td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <h2>
                            <div class="toEditLink2">
                                <!-- How to align center???? -->
                                <a href="#"> Edit information</a>
                            </div>
                        </h2>
                    </table>
                </div>
            </div>
        </div>

        <div class="profileContent2">
            <!-- <div class="walletHeadline"><h1>Wallet</h1></div> -->
            <div class="walletHeadline">Wallet</div>
            <table class="wallet-content">
                <tr>
                    <td>TOTAL COINS:</td>
                    <td>753</td>
                </tr>
            </table>
        </div>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../..//Public/js/script.js"></script>
</body>

</html>
<!-- 
<div class="containerProfile">
    <div class="amd-app">
      <div class="amd-intro">
        <h3 class="text-center"><i class="fas fa-chevron-left"></i> Settings</h3>
        <hr>
      </div>
      <div class="amd-info text-center">
        <h4>Name:</h4>
        <p>Sara Miller</p>
        
        <h4>Address:</h4>
        <p>222 Laura Lane</br>
        Atlanta, GA 30324</p>
      
        <h4>Number:</h4>
        <p>555-555-5555</p>
    
        <h4>Email:</h4>
        <p>sara.miller@email.co</p>
    <div class="amd-action text-center">
      <button class="btn btn-primary">Update Account</button></br>
      <button class="btn btn-danger">Delete Account</button>
    </div>
    
      </div>
      
    </div>
  </div> -->