<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quests</title>
    <meta name="description" content="Quest Store with matrix theme">
    <link rel="stylesheet" href="../../Public/css/cards.css">
    <link rel="stylesheet" href="../../Public/css/menuBar.css">
    <link rel="stylesheet" href="../../Public/css/backgroundGif.css">
    <link rel="stylesheet" href="../../Public/css/headline.css">
    <link rel="stylesheet" href="../../Public/css/profileStudent.css">

</head>

<body>
    <canvas id="c"></canvas>

    <div class="container">

        <div class="headlineQuest">
            <img src="../../resoruces/headline/mainHeadline.png">
        </div>

        <div id="navigation" class="menubar">
            <ul>
                <li><a href="login.html">Home</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="../quests.html">Quests</a></li>
                <li><a href="awards.html">Awards</a></li>
                <li><a href="tranasctions.html">Transactions</a></li>
            </ul>
        </div>


        <div class="headlineQuest">
            <img src="../../resoruces/headline/profile.png">
        </div>

        <div class="profileContent">
            <h1>profile</h1>
            <div class="profile">
                <div class="profile-left">
                    <img src="../../resoruces/studentLogo/exampleStudent.png" width="200" height="210">
                    <h2><a href="#">change picture</a></h2>
                    <h2><a href="#">change information</a></h2>
                </div>
                <div class="profile-right">
                    <table style="width:100%">
                        <h2>personal information</h2>
                        <tr>
                            <td class="profile-setting">name:</td>
                            <td class="user-entry">Not yet defined</td>
                        </tr>
                        <tr>
                            <td class="profile-setting">surname:</td>
                            <td class="user-entry">Not yet defined</td>
                        </tr>
                        <tr>
                            <td class="profile-setting">Birth date:</td>
                            <td class="user-entry">Not yet defined</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <h2>contact</h2>
                        <tr>
                            <td class="profile-setting">phone number:</td>
                            <td class="user-entry">Not yet defined</td>
                        </tr>
                        <tr>
                            <td class="profile-setting">e-mail:</td>
                            <td class="user-entry">Not yet defined</td>
                        </tr>
                        <tr>
                            <td class="profile-setting">github:</td>
                            <td class="user-entry">Not yet defined</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <h2>codecool</h2>
                        <tr>
                            <td class="profile-setting">class:</td>
                            <td class="user-entry"><a href="#">Not yet defined</a></td>
                        </tr>
                        <tr>
                            <td class="profile-setting">personal mentor:</td>
                            <td class="user-entry"><a href="#">Not yet defined</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="profileContent">
            <h1>wallet</h1>
            <table class="wallet-content">
                <tr>
                    <td>AMOUNT OF COINS:</td>
                    <td>Any number</td>
                </tr>
                <tr>
                    <td>TOTAL COINS GATHERED:</td>
                    <td>Bigger number or equal</td>
                </tr>
            </table>
        </div>
        <div class="profileContent">
            <h1>not yet available</h1>
        </div>








    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../..//Public/js/script.js"></script>
</body>

</html>
<!-- 
<div class="containerProfile">
    <div class="amd-app">
      <div class="amd-intro">
        <h3 class="text-center"><i class="fas fa-chevron-left"></i> Settings</h3>
        <hr>
      </div>
      <div class="amd-info text-center">
        <h4>Name:</h4>
        <p>Sara Miller</p>
        
        <h4>Address:</h4>
        <p>222 Laura Lane</br>
        Atlanta, GA 30324</p>
      
        <h4>Number:</h4>
        <p>555-555-5555</p>
    
        <h4>Email:</h4>
        <p>sara.miller@email.co</p>
    <div class="amd-action text-center">
      <button class="btn btn-primary">Update Account</button></br>
      <button class="btn btn-danger">Delete Account</button>
    </div>
    
      </div>
      
    </div>
  </div> -->