<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link rel="shortcut icon" href="../../resoruces/icon.png">
    <meta name="description" content="Quest Store with matrix theme">
    <link rel="stylesheet" href="../../Public/css/awardsCards.css">
    <link rel="stylesheet" href="../../Public/css/logoutButton.css">
    <link rel="stylesheet" href="../../Public/css/menuBar.css">
    <link rel="stylesheet" href="../../Public/css/headline.css">
    <link rel="stylesheet" href="../../Public/css/transactions.css">

    <script src="../../Public/js/environment.js" defer></script>
    <script src="../../Public/js/createLogoutButton.js" defer></script>
    <script src="../../Public/js/clearSessionStorage.js" defer></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer ></script>
    <script src="../../Public/js/script2.js"defer ></script>

</head>

<body>
    <canvas id="c"></canvas>

    <div class="headlineMainLogo">
        <img src="../../resoruces/headline/mainHeadline.png">
    </div>

    <div id="navigation" class="menubar">
        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="quests.html">Quests</a></li>
            <li><a href="awards.html">Awards</a></li>
            <li><a href="transactions.html">Transactions</a></li>
        </ul>
    </div>

    <div class="headlineLogo">
        <img src="../../resoruces/headline/transactions.png"></img>
    </div>>

    <div class="container">
        <div class="transactionTable">
            <table>
                <tr>
                    <th>Index</th>
                    <th>Operation</th>
                    <th>Award name</th>
                    <th>Pills used</th>
                    <th>Date</th>
                </tr>
                <!-- <tbody> -->

                <tr>
                    <th>1</th>
                    <td>Purchase</td>
                    <td>hackagov</td>
                    <td>30</td>
                    <td>29.04.2020</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Purchase</td>
                    <td>mr robot</td>
                    <td>70</td>
                    <td>30.04.2020</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Purchase</td>
                    <td>hackagov</td>
                    <td>30</td>
                    <td>01.05.2020</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Purchase</td>
                    <td>consult the oracle</td>
                    <td>40</td>
                    <td>02.05.2020</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Purchase</td>
                    <td>eyewear of matrix</td>
                    <td>120</td>
                    <td>03.05.2020</td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Purchase</td>
                    <td>plugged in</td>
                    <td>50</td>
                    <td>04.05.2020</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Purchase</td>
                    <td>martial-art workshop</td>
                    <td>60</td>
                    <td>05.05.2020</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Purchase</td>
                    <td>holy trinity help</td>
                    <td>100</td>
                    <td>06.05.2020</td>
                </tr>
                <!-- </tbody> -->

            </table>
        </div>
    </div>


</body>

</html>