<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <meta name="description" content="Quest Store with matrix theme">
    <link rel="stylesheet" href="../../Public/css/awardsCards.css">
    <link rel="stylesheet" href="../../Public/css/logoutButton.css">
    <link rel="stylesheet" href="../../Public/css/menuBar.css">
    <link rel="stylesheet" href="../../Public/css/headline.css">

</head>

<body>
    <canvas id="c"></canvas>

    <div class="logoutbutton">
        <img src="../../resoruces/logoutbutton.png"></img>
    </div>

    <div class="headlineMainLogo">
        <img src="../../resoruces/headline/mainHeadline.png">
    </div>

    <div id="navigation" class="menubar">
        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="quests.html">Quests</a></li>
            <li><a href="awards.html">Awards</a></li>
            <li><a href="tranasctions.html">Transactions</a></li>
        </ul>
    </div>

    <div class="headlineLogo">
        <img src="../../resoruces/headline/transactions.png"></img>
    </div>>

    <div class="container">

    </div>


    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../../Public/js/script2.js"></script>
</body>

</html>